.add__reports__container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    font-size: 1.2em;
}

.add__reports__container h2 {
    margin: 0.25em auto;
}


.add__reports__container h4 {
    margin: 1em auto;
}


.add__reports__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 50em;
    margin: 0 auto;
}

.add__reports__input__default {
    display: flex;
    align-items: center;
    gap: 1em;
}

.add__reports__input__default label {
    padding-block-start: 0.25em;
}
