.avatar__container {
    padding: 0 0 1em 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.avatar__avatar__wrapper {
    display: flex;
    width: 5em;
    height: 100%;
    padding: 0 0.5em;
    margin: 0;
    border: none;
    background: inherit;
    align-items: center;
    justify-content: center;
}

.avatar__avatar {
    border-radius: 50%;
    width: 100%;
    height: 4.2em;
    border: 2px solid var(--footer-bg-color);  
}

.avatar__form {
    display: flex;
    flex-direction: column;
    min-width: 12em;
    gap: 1em;
    font-weight: 600;
    padding-block-start: 2em;
}

.avatar__input__label {
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
    margin-block-end: 0.5em;
    text-align: start;
}

.avatar__input__button {
    font-size: 0.85em !important;
}

.avatar__user__message {
    margin: 0 auto;
    padding: 0;
    max-width: 17em;
    font-size: 0.75em;
    font-weight: 400;
}