/* Default report form styling */

.reports__container__default {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 1em 1em 6em 1em;
    font-size: 1.2em;
    font-weight: 500;
}

.reports__container__default fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.reports__container__default legend {
    display: none;
}

.reports__container__default input:focus,
.reports__container__default textarea:focus,
.reports__container__default select:focus { 
    outline: none !important;
    border: 2px solid black;
}

.reports__header__default {
    padding-block-end: 2em;
    margin: 0.25em auto;
}

.reports__inspection__form__default {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 2em;
    max-width: 30em;
    margin: 0 auto;
}

.reports__inspection__form__default label {
    font-weight: 600;
}

.reports__inspection__form__default span {
    font-size: 0.75em;
}

.reports__button__default {
    width: 15em;
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: sans-serif;
    background-color: rgba(55,158,154,1);
    font-weight: 800;
    text-shadow: 1px 1px black;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.reports__button__default:disabled,
.reports__button__default[disabled] {
    background-color: rgba(0,170,162,0.4);
}

.report__form__default {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


.report__form__default label {
    display: flex;
    height: 100%;
    width: 100%;
    font-weight: 600;
    align-self: center;
}

.report__form__location__default {
    display: flex;
    width: 100%;
    max-width: 225px;
    flex-direction: column;
    gap: 1em;
}

.report__form__radio__default__container {
    display: flex;
    gap: 1.5em;
}

.report__form__radio__default {
    display: flex;
    gap: 0.25em;
    align-items: center;
    justify-content: center;
}

input::file-selector-button,
::-webkit-file-upload-button {
    background: rgba(55,158,154,1);
    color: white;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1em;
}

.report__form__description__default {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 0.5em;
}

.report__form__file__type__default {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.report__form__file__type__default label {
    font-weight: 600;
}

.report__form__test__procedure__default {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.report__form__location__container__default {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 0.75em;
}

.report__form__location__container__default label {
    padding-block-start: 0.5em;
    height: 2.7em;
    font-weight: 600;
}

.report__select__default {
    min-width: 12.1em;
}

.reports__submit__button__wrapper {
    position: relative;
}

.reports__submit__button__loader {
    position: absolute;
    top: 0.5em;
    left: 6em;

}

input[type=text], input[type=datetime-local], input[type=password], select, textarea {
    padding: 8px 10px;
    display: inline-block;
    border: 2px solid var(--footer-bg-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: black;
}

input[type=datetime-local] {
    width: 14.5em;
}