
.reports__modal__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 15em;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
}

.reports__modal__container span:nth-child(2) {
    font-weight: 400;
}

.reports__modal__buttons__container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.reports__modal__buttons__container button {
    position: relative;
    display: flex;
    width: 5em;
    height: 3.5em;
    padding: 0.5em 1em;
    gap: 0.5em;
    text-align: start;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 0.55em;
    cursor: pointer;
    overflow: hidden;
}

.reports__modal__buttons__container button:first-child {
    background-color: red;
    font-size: 0.6em;
}

.reports__modal__buttons__container button:nth-child(2) {
    background-color: var(--footer-bg-color);
    font-size: 0.6em;
}