/* General styling */
:root {
    --footer-bg-color: rgba(0,170,162,1);
    --logo-bg-color: rgba(20,27,31,1);
}

.app__header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5em;
    padding: 0;
    justify-content: space-between;
    z-index: 5;
    background: var(--logo-bg-color);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.app__main {
    position: relative;
    height: 100%;
    width: 100%;
    padding-block-start: 4.5em;
}

.app__footer {
    height: 100%;
}

.app__reports__modal__container__wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-block-start: 5.5em;
    z-index: -5;
}